@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-3000 {
    animation-delay: 3s;
  }

  .animation-delay-6000 {
    animation-delay: 6s;
  }
}

:root {
  --max-width: 1728px;
  --foreground-rgb: 0, 0, 0;
  --background-rgba: 5, 5, 5, 1;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgba: 5, 5, 5, 1;
  }
  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--background-rgba));
}
